<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dataforest.COIS4000.BackendDataStructures">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.COIS4000">
        <activity android:name="com.dataforest.COIS4000.Activities.FormNavHost"></activity>
        <activity
            android:name="com.dataforest.COIS4000.Activities.TreeFormActivity"
            android:label="@string/title_activity_tree_form"
            android:theme="@style/Theme.COIS4000.NoActionBar" />
        <activity
            android:name="com.dataforest.COIS4000.Activities.TreeRecordActivity"
            android:label="TreeRecordActivity"
            android:theme="@style/Theme.COIS4000.NoActionBar" />
        <activity
            android:name="com.dataforest.COIS4000.Activities.FormsActivity"
            android:label="TreeRecordActivity"
            android:theme="@style/Theme.COIS4000.NoActionBar" />
        <activity
            android:name="com.dataforest.COIS4000.Activities.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.COIS4000.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>